SIF.GWSL.ExampleClient/Service References/CaseService/CaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SI.Data.Contracts.WS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SI.Data.Contracts.WS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4000/SI.WS.Core/SIF/CaseService.svc?xsd=xsd0" namespace="http://software-innovation.com/SI.Data" />
  <xs:complexType name="CaseOperationResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://software-innovation.com/SI.Data" base="q1:WSOperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Recno" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CaseOperationResult" nillable="true" type="tns:CaseOperationResult" />
</xs:schema>